{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}


<div class="container">

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Categorie</th>
            <th>Editer</th>
            <th></th>
            <th>Effacer</th>
        </tr>
        {% for category in listCategory %}
        <tr>
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
            <td>{{category.slug}}</td>
            <td><a href="{{path('editCategory',{'id':category.id})}}">
                    Editer catégorie</a>
            </td>
            <td><a href="{{path('productsCategory',{'id':category.id})}}"> Voir les produits associés </a></td>
            <td><a href="{{path('deleteCategory',{'id':category.id})}}" class="btn btn-danger"> X </a></td>
        </tr>

        {% endfor  %}
    </table>


</div>
{% endblock %}